<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlinkSwap2.Properties.Settings.BlinkSwapConnectionString"
            connectionString="Data Source=DESKTOP-LNUSUQE\ASTRIX;Initial Catalog=BlinkSwap;Persist Security Info=True;User ID=sa;Password=Nizorra.341"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>